$btn-color-red: rgb(239, 83, 80);

.panel-container {
  background-color: rgb(255, 205, 210);
}

.panel-title {
  color: rgb(183, 28, 28);
}

.btn {
  color: white;
  background-color: $btn-color-red;

  &:hover {
    background-color: darken($btn-color-red, 10%);
  }
}
