$btn-color-red: rgb(239, 83, 80);
$btn-color-green: rgb(102, 187, 106);

.btn {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
  color: black;
  background-color: white;

  &:hover {
    background-color: darken(white, 10%);
  }

  &.btn-red {
    color: white;
    background-color: $btn-color-red;

    &:hover {
      background-color: darken($btn-color-red, 10%);
    }
  }

  &.btn-green {
    color: white;
    background-color: $btn-color-green;

    &:hover {
      background-color: darken($btn-color-green, 10%);
    }
  }
}
